{% extends 'base.html' %} {% block title %} User Detail {% endblock %} {% block
content %}

<h1>{{user.firstname}} {{user.lastname}}</h1>
<p>{{user.email}}</p>

<h3>Notes</h3>
<ul>
  {% for note in notes %}
  <li>
    <div>
      <!-- scratch pad -->
      <form action="/notes/{{ note.id }}/update">
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-link"><i class="bi bi-pencil-square"></i></button>
      </form>
      <!-- trash can -->
      <form action="/notes/{{ note.id }}/delete" method="POST">
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-link"><i class="bi bi-trash-fill"></i></button>
      </form>

      <strong>{{ note.title }}</strong>
      <span>{{ note.content }}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<form action="/users/{{ user.username }}/notes/add">
  <button class="btn btn-primary">Add Note</button>
</form>

<!-- make the add note has an <a> and make it look like a button by adding the bootstrap classes -->

<form id="user-delete-form" action="/users/{{ user.username }}/delete" method="POST">
  {{ form.hidden_tag() }}
  <button class="btn btn-danger">Delete User</button>
</form>


{% endblock %}